<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>分类管理</title>
    <header th:replace="header::html"></header>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="" lay-filter="search-filter">
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">评论昵称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" placeholder="不输入则忽略名称筛选" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">日期范围</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="date-range" placeholder="不输入则忽略日期范围筛选"
                               name="dateRange">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="message-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-body">
        <table id="message-table" lay-filter="message-table"></table>
    </div>
</div>

<script type="text/html" id="message-bar">
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
</script>

<script type="text/javascript">
    layui.use(['table','form','jquery', 'laydate'],function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let laydate = layui.laydate;

        let MODULE_PATH = "/api/page/message";

        form.render();

        //日期范围
        laydate.render({
            elem: '#date-range',
            range: '~',
            theme: 'molv'
        });

        let cols = [
            [
                {title: '序号', field: 'messageId', align: 'center', width: 100},
                {title: '游客昵称', field: 'nickname', align:'center', width: 100},
                {title: '游客邮箱', field: 'email', align:'center', width: 150},
                {title: '游客网站', field: 'siteUrl', align:'center', width: 150},
                {title: '评论内容', field: 'content', align:'center', width: 250},
                {title: '浏览器', field: 'browser', align:'center', width: 100},
                {title: '操作系统', field: 'os', align:'center', width: 150},
                {title: 'ip来源', field: 'address', align:'center', width: 150},
                {title: '创建时间', field: 'createTime', align:'center', width: 230},
                {title: '操作', toolbar: '#message-bar', align:'center', width:95}
            ]
        ]

        table.render({
            elem: '#message-table',
            url: MODULE_PATH,
            page: true ,
            cols: cols ,
            skin: 'line',
            toolbar: '#message-toolbar',
            defaultToolbar: [{
                title: '刷新',
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        });

        table.on('tool(message-table)', function(obj){
            window.remove(obj);
        });
        // obj传进来的数据是我们从数据库查出来的那些，不仅仅是cols里展示出来的那些
        table.on('toolbar(message-table)', function(obj){
            if(obj.event === 'refresh'){
                window.refresh();
            }
        });

        form.on('submit(message-query)', function(data){
            let formData = data.field;
            let nickName = formData.name;
            let dateRange = formData.dateRange;
            let dates = dateRange.split(' ~ ')
            let startDate = dates[0];
            let endDate = dates[1];
            table.reload(('message-table'), {
                page: {
                    curr: 1
                },
                where: {
                    nickname: nickName,
                    startTime: startDate,
                    endTime: endDate
                },
                url: MODULE_PATH,
                method: 'get'
            })
            return false;
        });

        form.on('switch(message-enable)', function(obj){
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });

        window.remove = function(obj){
            layer.confirm('确定要删除该留言吗', {icon: 3, title:'提示'}, function(index){
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH+'/'+obj.data['messageId'],
                    dataType:'json',
                    type:'delete',
                    success:function(result){
                        layer.close(loading);
                        if(result.code == 200){
                            layer.msg(result.message,{icon:1,time:1000},function(){
                                obj.del();
                            });
                        }else{
                            layer.msg(result.message,{icon:2,time:1000});
                        }
                    }
                })
            });
        }

        window.refresh = function(){
            table.reload('message-table');
        }
    })
</script>
</body>
</html>
