<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <header th:replace="header::html"></header>
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <input type="text" id="tagId" th:value="${tag.tagId}" name="menuId" style="display:none;" autocomplete="off" class="layui-input">
                <div class="layui-form-item">
                    <label class="layui-form-label required">
                        标签名
                    </label>
                    <div class="layui-input-block">
                        <input type="text" id="tagName" name="tagName" th:value="${tag.name}" lay-verify="name" autocomplete="off" placeholder="请输入角色名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">颜色</label>
                    <div>
                        <div class="layui-input-block">
                            <div id="color-select" lay-verify="colorVer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="tag-edit">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script th:inline="javascript">
    layui.use(['form','jquery'],function(){

        let form = layui.form;
        let $ = layui.jquery;

        const URL = '/api/page/tag';

        // 取得后端传过来的值
        let tag = [[${tag}]];

        let colorSelect = xmSelect.render({
            el: `#color-select`,
            language: 'zn',
            filterable: true,
            radio: true,
            clickClose: true,
            model: {
                label: {
                    type: 'text',
                    text: {
                        template: (item, sels)=> {
                            return '<span>'+item.name+'</span>';
                        }
                    }
                }
            },
            template: ({name, value}) => {
                return name +'<span style="position: absolute; width: 8px; right: 10px; background-color:'+value+'">&nbsp;&nbsp;</span>'
            },
            data: [
                {name: '#D5F5E3', value: '#D5F5E3'},
                {name: '#E8F8F5', value: '#E8F8F5'},
                {name: '#82E0AA', value: '#82E0AA'},
            ],
            // 搜索不到则创建
            create: (val, arr)=> {
                if(arr.length == 0) {
                    return {
                        name: '创建'+val,
                        value: val
                    }
                }
            }
        })
        // 从数据库中获取所有颜色
        $.ajax({
            url: URL+'/colors',
            method: 'get',
            success: (resp) => {
                let data = resp.data.map(item => {
                    return {
                        name: item,
                        value: item
                    }
                });
                colorSelect.update({
                    data: data,
                });
                let color = {name: tag.color, value: tag.color};
                let arr = [color];
                colorSelect.setValue(arr);
            }
        })
        // 表单验证
        form.verify({
            colorVer: function(){
                if(colorSelect.getValue().length <= 0) {
                    return '请选择颜色';
                }
                let value = colorSelect.getValue('value')[0];
                if(value[0] !== '#') {
                    return '颜色由#开头哦~'
                }
                let pattern = /^#([0-9a-fA-F]{6})$/;
                if (!pattern.test(value)) {
                    return '颜色由#开头的6位16进制字符组成';
                }
            }
        });

        form.on('submit(tag-edit)', function(data){
            tag.name = data.field.tagName;
            tag.color = data.field.select;
            $.ajax({
                url:'/api/page/tag',
                data:JSON.stringify(tag),
                dataType:'json',
                contentType:'application/json',
                type:'put',
                success:function(result){
                    if(result.code == 200){
                        layer.msg(result.message,{icon:1,time:1000},function(){
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("tag-table");
                        });
                    }else{
                        layer.msg(result.message,{icon:2,time:1000});
                    }
                }
            })
            return false;
        });
    })
</script>

</body>
</html>
