<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加标签</title>
    <header th:replace="header::html"></header>
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label required">照片url</label>
                    <div class="layui-input-block">
                        <input type="url" name="url" lay-verify="required|url" lay-reqtext="照片url不能为空" placeholder="请输入照片url"
                               value=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label required">简介</label>
                    <div class="layui-input-block">
                        <textarea name="description" lay-verify="required|description" lay-reqtext="描述不能为空" placeholder="请输入描述"
                                  class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">菜单排序</label>
                    <div class="layui-input-block">
                        <input type="number" name="sort" placeholder="请输入排序值(1~1024)" value="" class="layui-input"
                               lay-verify="number|sort">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">前台显示</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="display" lay-skin="switch" lay-text="显示|隐藏" value="true" checked>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="photo-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>

<script>
    layui.use(['form', 'jquery', 'dtree'], function () {
        let form = layui.form;
        let $ = layui.jquery;

        const URL = '/api/page/photo';
        form.render();

        //自定义验证规则
        form.verify({
            description: function (value) {
                if (value.length > 30) {
                    return '描述长度在30个字符以内';
                }
            },
            //验证排序值
            sort: function (value) {
                if (value < 1 || value > 1024) {
                    return '排序值在1-1024之间'
                }
            },
        });


        form.on('submit(photo-save)', function (data) {
            $.ajax({
                url: '/api/page/photo',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function (result) {
                    if (result.code == 200) {
                        layer.msg(result.message, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("photo-table");
                        });
                    } else {
                        layer.msg(result.message, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    })
</script>

</body>
</html>
