code[class*="language-"],
pre[class*="language-"] {
  font-family: 'JetBrains Mono', Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  font-size: 1.075em;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #282c34; /* oneDark pro */
  color: #45eda0; 
}

code.language-text {
  padding: 0.1em 0.5em !important;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: rgba(255, 255, 255, 0.1);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: rgba(255, 255, 255, 0.1);
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.class-name {
  color: #82e6ff;
}

.token.keyword + .token.string,
.token.attr-value {
  color: #ff8571;
}

/* code.language-javascript,
.token.attr-name {
  color: #f0b863;
} */

.token.placeholder,
.token.variable {
  color: #d19a58;
}

.token.plain-text {
  color: #b2b2b2;
}

.token.comment {
  color: #649d4a;
}

.token.namespace {
  opacity: 0.7;
}

.token.tag,
.token.number {
  color: #ff78b2;
}

.token.punctuation,
.token.tag > .token.punctuation {
  color: #ffca22;
}

.token.operator {
  color: #56b6c2;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.entity,
.token.url,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #ff78b2;
}

.token.string ,
.language-css .token.string,
.language-scss .token.string,
.style .token.string {
  color: #ff806c;
}

.token.property,
.token.function {
  color: #39c3ff;
  /* color: #75c2b3; */
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #eeebff;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #eeebff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
  color: #c4b9fe;
}

.token.entity {
  cursor: help;
}
